<html>
    <html>
    <head>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        <title>Events</title>
    </head>
    <body>
        <h2>Events</h2>
        <div style="display: flex; flex-direction: row; height: 80vh;">
            <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px; width: 20%;">
                <a href="/trackinfo" class="btn">Track Info</a>
                <a href="/contact" class="btn">Contact</a>
                <a href="/events" class="btn">Events</a>
            </div>
        <div class="gallery" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <% if (files) { %>
                <% files.forEach(function(file) { %>
                    <div class="image-container">
                        <a href="/public/events/<%= file %>" target="_blank">
                            <img src="/public/events/<%= file %>" alt="<%= file %>" style="width:600px; height:auto;">
                        </a>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No files found.</p>
            <% } %>
        </div>
        </div>
    </body>
</html>
