<html>
    <head>
        
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        <h2 style="color:red">Welcome, <%= userData[0].email %></h2>
    </head>
    <body>
        
        <p style="color:rgb(241, 241, 245)">
           This is your profile where you can update you details

        </p>
        <p style="color:#7fae5d">
            Please check you details are correct
            any events you have signed up for will be listed here

        </p>
    <div class="profilemain"style = "display: flex; flex-direction: row;alight-items: center;">
        <div class="profilestats"> 
            <img src="/public/images/profile.jpg" style="margin: auto"/>   
            <table>
                <tr><td><h2>Profile</h2></td></tr>
                <tr>
                    <th>Email: </th>
                    <td><%= userData[0].email %></td>
                </tr>
                <tr>
                    <th>Name: </th>
                    <td><%= userData[0].firstname %></td>
                </tr>
                <tr>
                    <th>Last Name: </th>
                    <td><%= userData[0].lastname %></td>
                </tr>
                <tr>
                    <th>birthDate: </th>
                    <td><%= userData[0].birthDate %></td>
                </tr>
                
                <tr>
                    <th>Class: </th>
                    <td><%= userData[0].raceclass %></td>
                </tr>
                <tr>
                    <th>bike type: </th>
                    <td><%= userData[0].biketype %></td>
                </tr>
                <tr>
                    <th>Race#: </th>
                    <td><%= userData[0].racenumber %></td>
                </tr>

                <tr>
                    <th>Membership: </th>
                    <td><%= userData[0].membership %></td>
                    <tr>
                        <td>
                        <% if (userData[0].membership != 'current') { %>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <form action="/charge" method="post">
                                    <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_51K9a8jJ2j7m9aJnJ6QdRQVJfJGQB8j5a1000000040001"
                                      data-amount="5000"
                                        data-name="Southland Dirt Bike Riders Club"
                                        data-description="Membership"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                        data-locale="auto"
                                        data-currency="nzd">
                                    </script>
                                </form>
                                
                            </div>
                        <% } %>
                    </td>
                </tr>
                
            </table>
            </div>
            <div class="profileevents">
               <form action="/eventsignup" method="post">
                    <select style="width: 100%;" name="eventName">
                        <% events.forEach(function(events) { %>
                            <option value="<%= events.eventName %>"><%= events.eventName %></option>
                        <% }); %>
                    </select>
                    <input type="submit" value="register">
               </form>
               
                <h2>registered events</h2>
                <table>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Event Location</th>

                    </tr>
                    <% filteredEvents.forEach(function(filteredEvents) { %>
                        <tr>
                            <td><%= filteredEvents %></td>
                        </tr>
                    <% }); %>
                                    </div>
        </div>
        
    </body>
</html>  