<html>
    <head>
        
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        <h2 style="color:red">Welcome, <%= userData[0].email %></h2>
    </head>
    <body>
        
        <p style="color:rgb(241, 241, 245)">
           Admin Dashboard

        </p>
        
        <div class="profilemain">
            <div class="profilemenu">
                <%- include('partials/adminmenu.ejs') %>
                
            </div>
            <div class="profilestats"> 
                <h2>Profile</h2>
                <img src="/public/images/profile.jpg" style="margin: auto;"/>   
                <table>
                    <tr>
                        <th>Email: </th>
                        <td><%= userData[0].email %></td>
                    </tr>
                    <tr>
                        <th>Name: </th>
                        <td><%= userData[0].firstname %></td>
                    </tr>
                    <tr>
                        <th>Last Name: </th>
                        <td><%= userData[0].lastname %></td>
                    </tr>
                    <tr>
                        <th>birthDate: </th>
                        <td><%= userData[0].birthDate %></td>
                    </tr>
                    
                    <tr>
                        <th>Class: </th>
                        <td><%= userData[0].raceclass %></td>
                    </tr>
                    <tr>
                        <th>bike type: </th>
                        <td><%= userData[0].biketype %></td>
                    </tr>
                    <tr>
                        <th>Race#: </th>
                        <td><%= userData[0].racenumber %></td>
                    </tr>
    
                    <tr>
                        <th>Membership:</th>
                        <td><%= userData[0].membership %></td>
                        <tr>
                        <td><% if (userData[0].membership != 'Current') { %>
                                <div style="display: flex; flex-direction: column; align-items: right;">
                                    <form action="/charge" method="post">
                                        <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_51K9a8jJ2j7m9aJnJ6QdRQVJfJGQB8j5a1000000040001"
                                            data-amount="5000"
                                            data-name="Southland Dirt Bike Riders Club"
                                            data-description="Membership"
                                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                            data-locale="auto"
                                            data-currency="nzd">
                                        </script>
                                    </form>
                                </div>
                        <% } %></td></tr>

                    </td>
                </tr>
                
                </table>
            </div>
            <div class="profileduplicates"  style="width: 25%; display: flex; flex-direction: column; align-items: center; color: yellow;">
                Duplicate race numbers in same class
                        <br>
                        <table>
                        <thead>
                        <tr><th>Name</th><th> &nbsp; raceclass &nbsp; </th><th> &nbsp; racenumber &nbsp; </th></tr>
                         </thead>
                        <tbody>
                            <% duplicates.forEach(function(user) { %>
                            <tr>
                            <td><%= user.lastname %></td>
                            <td><%= user.raceclass %></td>
                            <td><%= user.racenumber %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                        </table>
                            
                        <div class="profileevents">
                            <form action="/eventsignup" method="post">
                                 <select style="width: 100%;" name="eventName">
                                     <% events.forEach(function(events) { %>
                                         <option value="<%= events.eventName %>"><%= events.eventName %></option>
                                     <% }); %>
                                 </select>
                                 <input type="submit" value="register">                            
                                  <table><br>
                                    <h2>Registered Events</h2>
                                 <tr>
                                     <th>Event Name</th>
                                     <th>Event Date</th>
                                     <th>Event Location</th>
             
                                 </tr>
                                 <% filteredEvents.forEach(function(filteredEvents) { %>
                                     <tr>
                                         <td><%= filteredEvents %></td>
                                     </tr>
                                 <% }); %>
                                                 </div>
                         </div>
        </div>
        <script>
</script>
    
    </body>
</html>