<html>
    <head>
        
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/header1.ejs') %>
        <h2 style="color:red">Welcome, <%= userData[0].email %></h2>
    </head>
    <body>
        
        <p style="color:rgb(241, 241, 245)">
           Admin Dashboard

        </p>
        
        <div class="profilemain">
            <div class="profilemenu">
                <%- include('partials/adminmenu.ejs') %>
            </div>
            <div class="usermanager">

                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Class</th>
                        <th>Role</th>
                        <th>Membership</th>
                        <th>Action</th>
                    </tr>
                    <% members.forEach(function(user) { %>
                        <tr>
                            <td><input type="hidden" name="memberid" value="<%= user.memberid %></td>
                            <td style="width: 20%;"><input type="text" name="firstname" value="<%= user.firstname %>" style="width: 100%;"></td>
                            <td style="width: 25%;"><input type="text" name="lastname" value="<%= user.lastname %>" style="width: 100%;"></td>
                            <td><input type="text" name="email" value="<%= user.email %>"></td>
                            <td><input type="text" name="age" value="<%= user.age %>" style="width: 100%;"></td>
                            <td>
                                <select name="raceclass">
                                    <option value="SnrA" <%= user.raceclass === 'SnrA' ? 'selected' : '' %>>SnrA</option>
                                    <option value="SnrB" <%= user.raceclass === 'SnrB' ? 'selected' : '' %>>SnrB</option>
                                    <option value="SnrC" <%= user.raceclass === 'SnrC' ? 'selected' : '' %>>SnrC</option>
                                    <option value="JnrA" <%= user.raceclass === 'JnrA' ? 'selected' : '' %>>JnrA</option>
                                    <option value="JnrB" <%= user.raceclass === 'JnrB' ? 'selected' : '' %>>JnrB</option>
                                    <option value="JnrC" <%= user.raceclass === 'JnrC' ? 'selected' : '' %>>JnrC</option>
                                    <option value="JnrD" <%= user.raceclass === 'JnrD' ? 'selected' : '' %>>JnrD</option>
                                    <option value="MiniA" <%= user.raceclass === 'MiniA' ? 'selected' : '' %>>MiniA</option>
                                    <option value="MiniB" <%= user.raceclass === 'MiniB' ? 'selected' : '' %>>MiniB</option>
                                    <option value="Vets" <%= user.raceclass === 'Vets' ? 'selected' : '' %>>Vets</option>
                                </select>
                            </td>
                            <td>
                                <select name="role">
                                    <option value="Admin" <%= user.role === 'Admin' ? 'selected' : '' %>>Admin</option>
                                    <option value="Member" <%= user.role === 'Member' ? 'selected' : '' %>>Member</option>
                                </select>
                            </td>
                            <td>
                                <select name="membership">
                                    <option value="Current" <%= user.membership === 'Current' ? 'selected' : '' %>>Current</option>
                                    <option value="Not Current" <%= user.membership === 'Not Current' ? 'selected' : '' %>>Not Current</option>
                                </select>
                            </td>
                            <td>
                                <form action="/updateUser" method="post">
                                    <input type="hidden" name="memberid" value="<%= user.memberid %>">
                                    <button type="submit">Update</button>
                                </form>
                            </td>
                            <td>
                                <form action="/deleteUser" method="post">
                                    <input type="hidden" name="memberid" value="<%= user.memberid %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </table>
            </div>
    </body>
</html>